<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule api/v1/users/(.*)$ api/v1/users.php?request=$1 [QSA,NC,L]
	RewriteRule api/v1/auth/(.*)$ api/v1/login.php?request=$1 [QSA,L]
	RewriteRule api/v1/complaint/(.*)$ api/v1/complaint.php?request=$1 [QSA,NC,L]
</IfModule>
